body {
    background-color: #D6D6D6;
}

div.content {
    position: absolute;
    width: 90%;
    left: 5%;
    min-height: 98%;
}

div.about {
    width: 30%;
    min-heightheight: 320px;
    background-color: #FBFBFB;
    float: right;
}

div.main {
    background-color: #D6D6D6;
    width: 70%;
    height: 100%;
    float: left;
}

nav {
    clear: left;
    height: 30px;
    background-color: #2447B2;
    font-weight: bold;
    color: white;
}

nav ul ul {
    display: none;
    padding-top: 5px;
}

nav ul li:hover > ul {
    display: block;
}

ul {
    padding: 0;    margin: 0;
}

nav ul {
    text-align: center;
    display: inline-table;
    position: relative;
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
}

nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li {
    float: left;
    width: 150px;
    height: 28px;
    border: 1px solid black;
    background-color: #2447B2;
}

nav ul li:hover {
    background-color: #1d368c;
}

div.menu div:hover {
    border-width: 3px;
    height: 24px;
}

div.about img {
    bottom: 20px;
}

a {
    color: white;
}

h3 {
    margin-top: 0;
}
article {
    background-color: white;
    border: 1px dashed gray;
    width: 88%;
    margin: 15px 20px;
    padding: 20px 15px;

}